#contactMe {
    margin: 40rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactMe>a{
    display: inline-block;
}

#contactMeEmail {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    opacity: .5;
}

.gradientButton {
    background: linear-gradient(135deg,
            #ff003c 10%, #f10000 30%, #d1b31d 50%,
            /* The Red State */
            #5dccc8 60%, #0074f1 90%
            /* The Blue State */
        );

    /* 2. Stretch the background so only the RED part shows initially */
    background-size: 250%;
    background-position: 0% 50%;
    /* Start at the left (Red) */

    /* 4. Animate the POSITION, not the background itself */
    transition: background-position 0.1s ease;

    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.gradientButton:hover {
    background-position: -70% -50%;
}

.backToTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem 0 0 0;
    justify-content: center;
    animation: jumpUpAndDown 0.75s ease-in 1s infinite alternate forwards;
}

.backToTop>p{
    margin:0;
    padding: 0;
    font-size: 1rem;
}

.backToTop > img{
    margin: 0;
    height: 20px;
    width: auto;
}

.finalContacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 100px;
    /* margin: auto 0 0 0; */
    margin-top: auto;
    /* margin-bottom: -10rem; */
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0.75;
}

.finalContacts>p{
    margin: 0 20px;
}

.finalContactsLinks>a>img{
    height:25px;
    margin: 0 20px;
    /* opacity: .75; */
}

@keyframes jumpUpAndDown {
    0% {transform: translateY(30%);}
    100% {transform: translateY(0%);}
}