.dynamicAboutSection{
    /* width: 20rem; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem 40rem 20rem; 
    margin: 15rem 0 0 0;
}

.dynamicAboutSection > p{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    height: 15rem;
    max-height: 20rem;
}

span.blinkingCursor{
    color:inherit;
    opacity: 0.75;
    animation: blinking-cursor 2s ease-in infinite;
}

@keyframes blinking-cursor {
    25% {opacity: 0;}
    50% {opacity: 0.75;}
    75% {opacity: 0;}
    100% {opacity: 0.75;}
}