.glowingStairs {
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
    align-items: center;
}

.glowingStair {
    height: 3px;
    background-color: var(--line-div-color);
    margin: 2.5rem 0 0 0;

    animation: singleDarkStep 4s linear infinite;
}

/* Start at 50% and decrease by ~7% per step */
.glowingStairs> :nth-child(1) {
    animation-delay: 0.0s;
    width: 60%;
}

.glowingStairs> :nth-child(2) {
    animation-delay: 0.0s;
    width: 38%;
}

.glowingStairs> :nth-child(3) {
    animation-delay: 0.0s;
    width: 28%;
}

.glowingStairs> :nth-child(4) {
    animation-delay: 0.2s;
    width: 18%;
}

.glowingStairs> :nth-child(5) {
    animation-delay: 0.2s;
    width: 11%;
}

.glowingStairs> :nth-child(6) {
    animation-delay: 0.4s;
    width: 7%;
}

.glowingStairs> :nth-child(7) {
    animation-delay: 0.4s;
    width: 4%;
}

@keyframes singleDarkStep {
    0%, 100% { opacity: 1; }
    7%       { opacity: 0; box-shadow: none; } /* Peak darkness */
    28%       { opacity: 0.4; box-shadow: none; } 
    40%       { opacity: 0.6; box-shadow: none; } 
    80%       { opacity: 0.8; box-shadow: none; } 
}

@media screen and (max-width: 900px) {
    .glowingStairs{
        padding: 0 1rem;
    }

    .glowingStair{
        margin: 2.5rem 0 0 0;
    }
}