header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

div.line{
    height: 1px;
    width: 250px;
    background-color: var(--line-div-color);
    margin: 0 30px;
}

div#headerLinks a{
    margin: 0 1.2rem;
    font-size: 1.1rem;
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}

div#headerLinks a:hover{
    transform: scale(1.1);
    
}