.introBragTextSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15rem 0 0 0;
}

.introBragTextSection > p {
    font-weight: bold;
    font-size: 3.5rem;
    width: 70rem;
    text-align: center;
    margin: 0;
}

span.redText {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}