section#portfolioIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3{
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

h1#portfolioIntroName{
    font-size: 1.5rem;
}

h3#portfolioIntroDesc{
    font-size: 0.75rem;
}