section.mouseHoverEffectSection {
    position: relative;
    /* width: 100%; */
    /* height: 400px; */
    margin: 15rem 0 0 0;

    /* Hides the default pointer only inside this section */
    cursor: none;
    overflow: hidden;
    /* Prevents scrollbars if cursor hits edge */
}


.custom-cursor {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to right, #ff003c, #f10000);
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease, transform 0.2s ease;
    mix-blend-mode: exclusion;
}