section.mouseHoverEffectSection {
    position: relative;
    /* width: 100%; */
    /* height: 400px; */
    /* margin: 15rem 0 0 0; */

    /* Hides the default pointer only inside this section */
    /* Prevents scrollbars if cursor hits edge */
}

section.mouseHoverEffectSection > p{
    cursor: none;
    overflow: visible;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


.custom-cursor {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--mouse-hover-circle);
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.2s ease, transform 0.2s ease;
    mix-blend-mode: exclusion;
}

/* Base settings for the transition speed */
.introBragText {
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* STATE 1: Hidden (Before you scroll to it) */
.pop-up-hidden {
    opacity: 0;
    transform: translateY(60px); /* Pushed down */
}

/* STATE 2: Visible (After you scroll to it) */
.pop-up-visible {
    opacity: 1;
    transform: translateY(0);    /* Back to normal */
}

@media screen and (max-width: 900px) {
    section.mouseHoverEffectSection > p{
        font-size: 2rem;
        padding: 1.5rem;
    }
}