@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --line-div-color: #99999975;
}

:root[data-theme="light"] {
  --bg-color: #e0e0e0;
  --text-color: #121212;
}

body {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;

  background: var(--bg-color);
  color: var(--text-color);

}





/* CLEARANCE */
a {
  text-decoration: none;
  color: inherit;
}